@import "base/reset.css";
@import "base/layout.css";

@import "parts/buttons.css";

@import "parts/header.css";
@import "parts/menu.css";
@import "parts/offer.css";
@import "parts/info-image.css";
@import "parts/services.css";
@import "parts/process.css";
@import "parts/secret-sauce.css";
@import "parts/founder.css";