.pc_logo  {
    background-color: rgb(250, 250, 250);
}

@media (min-width: 768px) {
    .pc_logo {
        background: url('/static/images/d_l2_logo_p.png');
        background-size: cover;
    }
}

.foot_logo  {
    background-color: rgb(37, 43, 66);
   
}
@media (min-width: 768px) {
    .foot_logo {
        background: url('/static/images//foot_p.png'); 
        background-size: cover;
    }
}
.text-orange {
    color: rgb(250, 74, 12);
}

.bg-orange {
    background-color: rgb(250, 74, 12);
}


.opacity_100{
    opacity: 1.0; /* Полупрозрачность  */
}

.opacity_0{
    opacity: 0.0; /* Полупрозрачность  */
}