.info-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 0 15px;
}

.info-block__part {
    flex: 0 0 33%;
    padding-right: 21px;
    overflow: hidden;
}

.info-block__part.info-block__part_last {
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .info-block__part {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .info-block__part.info-block__part_slider {
        flex: 0 0 calc(100% + 30px);
        margin: 0 -15px;
    }
}

.info-block__news-block {
    padding-top: 33.04px;
    height: calc(100% - 33.04px);
}

.info-block__news {
    padding: 1.96px 17.18719vw 1.96px 0;
    margin-bottom: 12.9px;
    height: 33%;
    pointer-events: auto;
    cursor: pointer;
}

.info-block__news.info-block__news_last {
    padding-bottom: 0;
    margin-bottom: 0;
}

.info-block__news-image {
    object-fit: cover;
    height: 100%;
    min-width: 80px;
}

.info-block__slider {
    padding: 35px 0;
}

.info-block__slider {
    padding: 35px 0;
    width: 100%;
    position: relative;
    overflow: scroll;
    height: 182px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 19px;
}

.info-block__slider.info-block__slider_last {
    margin-bottom: 0;
}

.info-block__slider::-webkit-scrollbar {
    display: none;
}

.info-block__slider-list {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.info-block__slider-item {
    margin-right: 2px;
    height: 100%;
    position:relative;
    pointer-events: auto;
    cursor: pointer;
    display:inline-block;
}

.info-block__slider-list > .info-block__slider-item:last-child {
    margin-right: 0;
}

.info-block__wallpapers {
    padding-top: 35px;
}

.info-block__wallpaper {
    width: 100%;
    height: 101px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    pointer-events: auto;
    cursor: pointer;
}

.info-block__wallpaper.info-block__wallpaper_last {
    margin-bottom: 0;
}

.info-block__wallpaper::after {
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    display:inline-block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 37.41%, rgba(23, 23, 23, 0.917403) 100%);
}