.layout {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    flex-direction: column;
    background: #FFFFFF;
}

.fixed {
    overflow: hidden;
}