.footer {
    padding: 0 1%;
}

.footer__menu-item-list-title {
    padding: 10%;
}

.footer__menu-item-list {
    padding: 10%;
    color: gray;
}

.footer__menu-item-list-item-link {
    padding: 5px;
    pointer-events: auto;
    cursor: pointer;
    display: block;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footer__logo {
    flex: 0 1 15%;
    text-align: center;
    font-size: 25px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 85%;
    justify-content: flex-start;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
    .footer__logo {
        flex: 0 0 100%;
    }
    
    .footer__menu {
        flex: 0 0 100%;
    }
}

.footer__menu-item {
    flex: 0 1 20%;
}

@media screen and (max-width: 767px) {
    .footer__menu-item {
        flex: 0 0 50%;
    }
}

.footer__copyright {
    text-align: center;
    margin-bottom: 20px;
}