.info-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 140px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .info-image {
        height: 70px;
    }
}