.secret-sauce {
    padding: 0 140px;
}

@media screen and (max-width: 768px) {
    .secret-sauce {
        padding: 0 70px;
    }
}

@media screen and (max-width: 425px) {
    .secret-sauce {
        padding: 0 35px;
    }
}