.secret-sauce {
    padding: 0 140px;
    margin-bottom: 141px;
}

@media screen and (max-width: 768px) {
    .secret-sauce {
        padding: 0 70px;
        margin-bottom: 71px;
    }
}

@media screen and (max-width: 425px) {
    .secret-sauce {
        padding: 0 35px;
        margin-bottom: 36px;
    }
}

.secret-sauce__stages-wrapper {
    padding: 71px 110px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .secret-sauce__stages-wrapper {
        padding: 35.5px 0 0;
    }
}

.secret-sauce__secret {
    padding: 35px 25px 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .secret-sauce__secret {
        flex: 0 0 100%;
    }
}

.secret-sauce__secret-image {
    margin-bottom: 20px;
}

.secret-sauce__secret-title {
    font-family:"Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 20px;

    color: #2B292D;
}

.secret-sauce__secret-sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    color: #2B292D;
}

.secret-sauce__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}